body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header {
    color: rgb(0, 0, 0);
    font-style: oblique;
    background-color: rgb(218, 255, 222);
    padding: 15px;
}

.boton-carrito {
    border: 0;
    background-color: rgb(218, 255, 222);
    color: rgb(0, 204, 75);
    font-size: 2em;
}

.total-unidades-carrito {
    position: relative;
    bottom: 32px;
    right: 28px;
    font-weight: bold;
}

.content.row {
    display: flex;
    justify-content: center;

    height: auto;
    padding: 30px 0;
    background-color: rgb(222, 222, 188);
}

.card {
    width: 20%;
    margin: 1%;
}

.footer{
    color: antiquewhite;
    background-color: cornflowerblue;
    padding: 15px;

}

.footer ul {
    list-style-type: none;
}

.busqueda {
    display: flex;
    align-items: center;

    padding: 20px;
}

form label {
    font-weight: bold;
}